
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
::-webkit-scrollbar {
    display: none;
}
.Disp{
    height: 60%;
    width: 100%;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textContainer{
    height: 80%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.741);
    word-wrap:break-all;
    white-space: pre-wrap;
    padding: 20px;
    overflow-wrap: break-all;
    overflow-y: scroll;
    overflow-x: hidden;
}
.text{
    display: inline-block;
    font-size: larger;
    font-weight: 100;
    color: antiquewhite;
}