 
.leaderboard{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
   font-family: "Open Sans", sans-serif;
   font-size: medium;
    color: rgba(0, 0, 0, 0.80);
}