.Person{
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
}
.Personprofile{
    height: 75%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.PersonDetail{
    height: 100%;
    max-width: 60%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}